header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $bg;
  padding: 5px 30px;
  border-bottom: 2px solid $secondary-color;
  .logo {
    float: left;
  }
  h1 {
    float: left;
    margin-left: 10px;
    line-height: 60px;
  }
  nav {
    float: right;
    li {
      display: inline;
      padding-left: 10px;
      list-style: none;
      line-height: 60px;
      color: $title-color;
      &:hover {
        color: $secondary-color;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: 100px;
  }
}
